//Navbar
.navbar-espaco-lirio {
    background-color: #384400;
    padding: 20px;

    .nav-link {
        margin-left: 5px;
        color: #ffe8b6;
        font-weight: bold;
        border-bottom: 2px solid transparent;

        &:hover {
            border-bottom-color: #FFF;
        }

        // Adiciona transição suave
        transition: border-bottom-color 0.3s ease;
    }
}

//Secao principal
.secao-principal {
    background-color: #979648;
    text-align: center;
    padding: 20px 0;

    .logo-centralizada {
        max-width: 300px;
        margin: 0 auto;
    }

    h3 {
        color: #ffe8b6;
        font-weight: 300;
    }
}